.sideNav {
    background-color: blueviolet;
    position: fixed;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 15px;
    }
    .sideNav a {
        font-size: 18px;
    }
}