.cnvs_bg {
    box-sizing: border-box;
    cursor: crosshair;
    background: transparent;
    position: absolute;
    left: 80px;
    top: 20px;
    z-index: 0
}

.cnvs_fg {
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    cursor: crosshair;
    background: transparent;
    position: absolute;
    left: 80px;
    top: 20px;
    z-index: 1;
}

.cnvs_save {
    display: none;
}

.button {
    background-color: white;
    color: rgb(36, 23, 48);
    border: none;
    margin-top: 10px;
    width: 43%;
}

.button_form {
    background-color: white;
    color: rgb(36, 23, 48);
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(44, 10, 107);
    border-radius: 10px;
    width: 15px;
    height: 15px;
}