* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    background-color: #EDEEF7;
}

.App-link {
    color: #61dafb;
}

#brushBtn {
    background-image: url('/src/Components/UI/button/brush.png');
}

.load-btn {
    margin: 10px 20px;
    padding: 20px;
    font-size: 2rem;
}

.drop-area {
    width: 70%;
    height: 30%;
    position: fixed;
    top: 40%;
    left: 16%;
    border: 2px dotted whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}